/*
  タブメニュー
*/
#menutab a {
	/* インラインブロック化 */
	display : inline-block;
	/* 下以外の枠線を引く */
	border-width: 1px 1px 0px 1px;
	/* 枠線は実線 */
	border-style: solid;
	/* 枠線の色は黒 */
	border-color: black;
	/* 左上と右上の角だけ丸くする */
	border-radius: 0.75em 0.75em 0 0;
	/* 内側に余白を作る */
	padding: 0.75em 1em;
	/* リンクの下線を消す */
	text-decoration: none;
	/* 文字色は黒 */
	color: black;
	/* 背景色は白 */
	background-color: white;
	/* 文字は太字 */
	font-weight: bold;
	/* 相対配置 */
	position: relative;
}
#menutab a:hover {
	/* マウスポインターが乗ったら自動的に下線を表示 */
	text-decoration: underline;
}

/*
  タブコンテンツページ
*/
#pageContents div {
	/* 太さ1pxの枠線、色は黒 */
	border: 1px solid black;
	/* 上方のタブと1pxだけ重ねる */
	margin-top: -1px;
	/* 内側の余白1em */
	padding: 1em;
	/* 背景色は白 */
	background-color: white;
	/* 相対配置 */
	position: relative;
	/* 重なり順序：最背面 */
	z-index: 0;
}

/*
  ページコンテンツの配色(タブメニューとページコンテンツ)
*/
#menutab a:nth-child(1), #pageContents div:nth-child(1) {
	background-color: #CCFFFF;
}
#menutab a:nth-child(2), #pageContents div:nth-child(2) {
	background-color: #7FFFD4;
}
#menutab a:nth-child(3), #pageContents div:nth-child(3) {
	background-color: #FFC0CB;
}
#menutab a:nth-child(4), #pageContents div:nth-child(4) {
	background-color: #FFEFD5;
}